<div class="container page-content">
  <div class="row">
    <div class="span12">
      <div class="box-container">
        <div class="padding30">
          <h2 class="page-title">About us</h2>
          <p>We are NOMS: We were founded in 1234 to help people find great food choices in their area. Forged during a cold winter night in the fiery underground depths of Nom Valley, Noms was born under the management of a mysterious person whose identity remains unknown today. If anyone knows the identity of the first NOMer, please let us know.</p>
          <p>We have FANS: Noms has about 90 million users and 400 million monthly visitors. We also have about 200 million mobile users and 300 virtual reality users. We are planning to expand our business to interdimensional travels and Pluto.</p>
          <p>We have REVIEWS: Fellow NOMers have written more than 123 billion reviews, wait no 321 billion. About 0 reviews have been written by famous people such as Barack Obama and Avatar Aang.</p>
          <p>We have FUNDS: The way we make money is quite simple. Please donate.</p>
          <p>We have STAFF: Our extremely excellent Noms staff is rated 11/10 by US News, and we are such a great company that we are the first company to get 5.1 stars from Yelp. We have won many awards including the Nobel Peace Prize and Train Operator of the Year.</p>
          <p>We have AMBITIONS: Our team is focusing on an often overlooked key to success, fostering strong ambition within the company culture. We have established a high stand of excellence and achievement, something that NOMers believe and trust in. Our team is constantly implementing growth goals in a wide range of potential, from daily goals and success measurements to celebrating accomplishments.</p>
          <p>Note: Some of these are not true. Just some of them. Believe what you want :)</p>
        </div>
      </div>
    </div>
    <!-- .span12 -->
  </div>
  <!-- .row -->
</div>
