    <div class="container page-content">
      <div class="row">
        <div class="span8">
          <div class="box-container">
            <div class="padding30">
              <h2 class="page-title">Contact us</h2>
              <ul class="unstyled">
                <li>
                  <i class="icon-envelope-alt"></i>
                  Email: support@noms.com</li>
                <li>
                  <i class="icon-phone"></i>
                  Phone: +1 (123) 456 7890</li>
                <li>
                  <i class="icon-linkedin"></i>
                  linkedin.com/noms</li>
                <li>
                  <i class="icon-twitter"></i>
                  twitter.com/noms</li>
              </ul>
              <div class="row-fluid">
                <form action="#" class="margin300" method="post" />
                  <input class="span6" placeholder="Please, insert your name" type="text" />
                  <input class="span6 pull-right" placeholder="Please, insert your email" type="text" />
                  <textarea class="span12" placeholder="Write your message" rows="6"></textarea>
                  <div class="clearfix">
                    <button class="btn btn-realto span6" type="submit">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- .span8 -->
        <div class="span4 widget">
          <div class="widget map box-container padding30">
            <h3 class="widget-title">Get Directions</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12598.55392241022!2d-122.2619195!3d37.8687486!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7718c522d7c1%3A0xda8034ea3b6b3289!2sUniversity+of+California%2C+Berkeley!5e0!3m2!1sen!2sus!4v1514247131342" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            <br><br>
            <dl class="margin0">
              <dt>Noms</dt>
              <dd class="margin0">2018 NomsForDays Ave</dd>
              <dd class="margin0">Berkeley, CA 94704</dd>
            </dl>
          </div>
        </div>
        <!-- .span4 -->
      </div>
      <!-- .row -->
    </div>
    <!-- .container -->
