<div id="home-search-container">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="widget pull-right">
          <div class="row">
            <div class="span12 head-container">
              <div class="row">
                <div class="span8 hidden-phone">
                  <h2 class="head-title">Welcome to Realto</h2>
                  <p class="head-message"><strong>Realto xHTML/CSS Template is The Best Solution To Sell House Online.</strong><br />
                  This template is appropriate for Real Estate Company, who need to do their business online via websites.</p>
                  <a class="btn btn-large btn-realto span3 header-cta" href="#" title="Buy It Now">Buy It Now!</a>
                </div>
                <div class="span4">
                  <div class="search-form">
                    <p>Find your new home</p>
                    <form action="#" class="row-fluid" method="post" />
                      <select class="span12 select" name="type">
                        <option />Location
                        <option value="#" />New York
                        <option value="#" />Los Angeles
                        <option value="#" />Washington
                        <option value="#" />Chicago
                        <option value="#" />Miami
                      </select>
                      <select class="span12 select" name="type">
                        <option />Property Type
                        <option value="#" />Any
                        <option value="#" />Single Family Home
                        <option value="#" />Condo
                        <option value="#" />Apartment
                        <option value="#" />Loft
                      </select>
                      <select class="span6 select pull-left" name="beds">
                        <option />Beds
                        <option value="#" />1+ Beds
                        <option value="#" />2+ Beds
                        <option value="#" />3+ Beds
                        <option value="#" />4+ Beds
                        <option value="#" />5+ Beds
                      </select>
                      <select class="span6 select pull-right" name="baths">
                        <option />Baths
                        <option value="#" />1+ Baths
                        <option value="#" />2+ Baths
                        <option value="#" />3+ Baths
                        <option value="#" />4+ Baths
                        <option value="#" />5+ Baths
                      </select>
                      <select class="span12 select clearfix" name="status">
                        <option />Select Status
                        <option value="#" />For Rent
                        <option value="#" />For Sale
                      </select>
                      <select class="span6 select pull-left" name="price-from">
                        <option />Price from
                        <option value="#" />from $100.000
                        <option value="#" />from $200.000
                        <option value="#" />from $300.000
                        <option value="#" />from $400.000
                        <option value="#" />from $500.000
                      </select>
                      <select class="span6 select pull-right" name="price-to">
                        <option />Price to
                        <option value="#" />to $100.000
                        <option value="#" />to $200.000
                        <option value="#" />to $300.000
                        <option value="#" />to $400.000
                        <option value="#" />to $500.000
                      </select>
                      <div class="clearfix">
                        <button class="btn pull-right span6 btn-realto-form btn-large" type="submit">Search</button>
                      </div>
                    </form>
                  </div>
                  <!-- .search-form -->   
                </div>
                <!-- .span4 -->
              </div>
            </div>        
          </div>
          <!-- .row -->
        </div>
        <!-- .search-holder -->
      </div>
      <!-- .span12 -->
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
<div id="latest-properties">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2 class="secion-title">Properties</h2>
      </div>
    </div>
    
    <!-- Begin Carousel -->
    <div class="row">
      <div id="realto-carousel" class="carousel slide span12">
        <div class="carousel-navigation pull-right">
          <a class="serif italic pull-left view-all-carousel" href="#">View all</a>
          <a class="left carousel-control pull-left" href="#realto-carousel" data-slide="prev">‹</a>
          <a class="right carousel-control pull-right" href="#realto-carousel" data-slide="next">›</a>
        </div>
        <div class="carousel-inner">
          <div class="item active">
            <ul class="thumbnails">
              <li class="span4 box-container">
                <div class="holder">
                  <a class="overlay" title="property title" href="#">
                    <span class="more"></span>
                    <img alt="image" src="images/01.jpg" class="media-object" />
                  </a>
                  <span class="prop-tag">For Sale</span>
                  <div class="prop-info">
                    <h3 class="prop-title">379 Michigan Avenue New York 33139 NY</h3>
                    <ul class="more-info clearfix">
                      <li class="info-label clearfix"><span class="pull-left">Beds:</span> <span class="qty pull-right">4</span></li>
                      <li class="info-label clearfix"><span class="pull-left">Baths:</span> <span class="qty pull-right">2</span></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="span4 box-container">
                <div class="holder">
                  <a class="overlay" title="property title" href="#">
                    <span class="more"></span>
                    <img alt="image" src="images/02.jpg" class="media-object" />
                  </a>
                  <span class="prop-tag">For Rent</span>
                  <div class="prop-info">
                    <h3 class="prop-title">8745 Annox Avenue Orlando 33139 FL</h3>
                    <ul class="more-info clearfix">
                      <li class="info-label clearfix"><span class="pull-left">Beds:</span> <span class="qty pull-right">4</span></li>
                      <li class="info-label clearfix"><span class="pull-left">Baths:</span> <span class="qty pull-right">2</span></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="span4 box-container">
                <div class="holder">
                  <a class="overlay" title="property title" href="#">
                    <span class="more"></span>
                    <img alt="image" src="images/03.jpg" class="media-object" />
                  </a>
                  <span class="prop-tag">For Sale</span>
                  <div class="prop-info">
                    <h3 class="prop-title">1630 Washington Avenue Miami Beach 33139 FL</h3>
                    <ul class="more-info clearfix">
                      <li class="info-label clearfix"><span class="pull-left">Beds:</span> <span class="qty pull-right">4</span></li>
                      <li class="info-label clearfix"><span class="pull-left">Baths:</span> <span class="qty pull-right">2</span></li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div><!-- .item -->
          <div class="item">
            <ul class="thumbnails">
              <li class="span4 box-container">
              <div class="holder">
                  <a class="overlay" title="property title" href="#">
                  <span class="more"></span>
                  <img alt="image" src="images/04.jpg" class="media-object" />
                  </a>
                  <span class="prop-tag">For Rent</span>
                  <div class="prop-info">
                    <h3 class="prop-title">1290 Collins Avenue Miami Beach 33139 FL</h3>
                    <ul class="more-info clearfix">
                      <li class="info-label clearfix"><span class="pull-left">Beds:</span> <span class="qty pull-right">4</span></li>
                      <li class="info-label clearfix"><span class="pull-left">Baths:</span> <span class="qty pull-right">2</span></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="span4 box-container">
              <div class="holder">
                  <a class="overlay" title="property title" href="#">
                  <span class="more"></span>
                  <img alt="image" src="images/06.jpg" class="media-object" />
                  </a>
                  <span class="prop-tag">For Sale</span>
                  <div class="prop-info">
                    <h3 class="prop-title">6253 Jefferson Avenue Los Angeles 33139 CA</h3>
                    <ul class="more-info clearfix">
                      <li class="info-label clearfix"><span class="pull-left">Beds:</span> <span class="qty pull-right">4</span></li>
                      <li class="info-label clearfix"><span class="pull-left">Baths:</span> <span class="qty pull-right">2</span></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="span4 box-container">
              <div class="holder">
                  <a class="overlay" title="property title" href="#">
                  <span class="more"></span>
                  <img alt="image" src="images/07.jpg" class="media-object" />
                  </a>
                  <span class="prop-tag">For Rent</span>
                  <div class="prop-info">
                    <h3 class="prop-title">7654 West Avenue Miami Beach 33139 FL</h3>
                    <ul class="more-info clearfix">
                      <li class="info-label clearfix"><span class="pull-left">Beds:</span> <span class="qty pull-right">4</span></li>
                      <li class="info-label clearfix"><span class="pull-left">Baths:</span> <span class="qty pull-right">2</span></li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div><!-- .item -->
             
        </div><!-- .carousel-inner -->
      </div>
    </div><!--End Carousel-->
    
  </div><!-- .container  -->
</div><!-- #latest-properties  -->


<!-- #latest-properties  -->
<div class="container">
  <div class="row">
    <div class="home-bottom-top">
      <div class="span4">
        <div class="info-box">
          <h2 class="secion-title">Why choose us?</h2>
          <p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore
            magna aliqua adipisicing elit seddo eiusmod tempor.</p>
          <p>Sed perspiciatis unde omnisiste natus error voluptatem remopa
            accusantium doloremque laudantium, totam rem aperiam.</p>
          <a class="serif italic" href="#" title="Continue">Continue &raquo;</a>
        </div>
      </div>
      <!-- .span4 -->
      <div class="span4">
        <div class="info-box">
          <h3 class="info-head">Designed for your business</h3>
          <div class="row clearfix">
            <div class="pull-left icons hidden-phone">
              <i class="icon-briefcase"></i>
            </div>
            <div class="span3">
              <p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore
                magna aliqua adipisicing elit seddo eiusmod tempor.</p>
              <a class="serif italic" href="#" title="Continue">Continue &raquo;</a>
            </div>
          </div>
          <!-- .clearfix -->
        </div>
        <!-- .info-box -->
        <div class="info-box">
          <h3 class="info-head">Ample Customizations</h3>
          <div class="row clearfix">
            <div class="pull-left icons hidden-phone">
              <i class="icon-cogs"></i>
            </div>
            <div class="span3">
              <p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore
                magna aliqua adipisicing elit seddo eiusmod tempor.</p>
              <a class="serif italic" href="#" title="Continue">Continue &raquo;</a>
            </div>
          </div>
          <!-- .clearfix -->
        </div>
        <!-- .info-box -->
      </div>
      <!-- .span4 -->
      <div class="span4">
        <div class="info-box">
          <h3 class="info-head">Fully Responsive</h3>
          <div class="row clearfix">
            <div class="pull-left icons hidden-phone">
              <i class="icon-move"></i>
            </div>
            <div class="span3">
              <p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore
                magna aliqua adipisicing elit seddo eiusmod tempor.</p>
              <a class="serif italic" href="#" title="Continue">Continue &raquo;</a>
            </div>
          </div>
          <!-- .clearfix -->
        </div>
        <!-- .info-box -->
        <div class="info-box">
          <h3 class="info-head">Bootstrap Compatible</h3>
          <div class="row clearfix">
            <div class="pull-left icons hidden-phone">
              <i class="icon-thumbs-up"></i>
            </div>
            <div class="span3">
              <p>Lorem ipsum dolor sit amet consectetur incididunt ut labore et dolore
                magna aliqua adipisicing elit seddo eiusmod tempor.</p>
              <a class="serif italic" href="#" title="Continue">Continue &raquo;</a>
            </div>
          </div>
          <!-- .clearfix -->
        </div>
        <!-- .info-box -->
      </div>
      <!-- .span4 -->
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span12 box-container">
      <div class="row adv-message clearfix">
        <div class="pull-left span7">
          <p class="upper-line serif italic">Realto xHTML/CSS Template is The
            Best Solution To Sell House Online</p>
          <p class="lower-line">This template is appropriate for Real Estate
            Company, who need to do their business online via websites.</p>
        </div>
        <!-- .pull-left -->
        <a class="pull-right btn btn-large btn-realto span3" href="#" title="Buy It Now">Buy
          It Now!</a>
      </div>
      <!-- .adv-message  -->
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span8">
      <h2 class="secion-title">Meet our agents</h2>
      <div class="row">
        <div class="span2">
          <div class="home-agents widget">
            <a class="overlay" href="#" title="agent name">
              <span class="more"></span>
              <img alt="image" class="media-object" src="images/agent-01.jpg" />
            </a>
            <p class="home-agent-name">John Doe</p>
            <a class="serif italic" href="#" title="View profile page">View profile
              page &raquo;</a>
          </div>
          <!-- .home-agents -->
        </div>
        <div class="span2">
          <div class="home-agents widget">
            <a class="overlay" href="#" title="agent name">
              <span class="more"></span>
              <img alt="image" class="media-object" src="images/agent-02.jpg" />
            </a>
            <p class="home-agent-name">Susan Underwood</p>
            <a class="serif italic" href="#" title="View profile page">View profile
              page &raquo;</a>
          </div>
          <!-- .home-agents -->
        </div>
        <div class="span2">
          <div class="home-agents widget">
            <a class="overlay" href="#" title="agent name">
              <span class="more"></span>
              <img alt="image" class="media-object" src="images/agent-06.jpg" />
            </a>
            <p class="home-agent-name">Erik Peterson</p>
            <a class="serif italic" href="#" title="View profile page">View profile
              page &raquo;</a>
          </div>
          <!-- .home-agents -->
        </div>
        <div class="span2">
          <div class="home-agents widget">
            <a class="overlay" href="#" title="agent name">
              <span class="more"></span>
              <img alt="image" class="media-object" src="images/agent-07.jpg" />
            </a>
            <p class="home-agent-name">Lu Jackson</p>
            <a class="serif italic" href="#" title="View profile page">View profile
              page &raquo;</a>
          </div>
          <!-- .home-agents -->
        </div>
      </div>
    </div>
    <!-- .span8  -->
    <div class="span4">
      <div class="home-blog-articles widget">
        <h2 class="secion-title">Articles from the Blog</h2>
        <ul>
          <li>
            <i class="icon-caret-right"></i>
            <a title="title" href="#">Lorem ipsum dolor sit amet, consectetur
              adipiscing</a></li>
          <li>
            <i class="icon-caret-right"></i>
            <a title="title" href="#">Duis suscipit venenatis pellentesque tempor
              libero</a></li>
          <li>
            <i class="icon-caret-right"></i>
            <a title="title" href="#">Etiam aliquet aliquam metus in tristique</a></li>
          <li>
            <i class="icon-caret-right"></i>
            <a title="title" href="#">Cras venenatis pellentesque venenatis
              pellentesque</a></li>
          <li>
            <i class="icon-caret-right"></i>
            <a title="title" href="#">Vivamus vitae venenatis pellentesque nunc sed
              nisl</a></li>
          <li>
            <i class="icon-caret-right"></i>
            <a title="title" href="#">In tempus venenatis pellentesquetempor</a></li>
          <li>
            <i class="icon-caret-right"></i>
            <a title="title" href="#">Suspendisse vulputate venenatis pellentesque
              quis</a></li>
        </ul>
      </div>
    </div>
    <!-- .span4  -->
  </div>
</div>
