<!-- begin footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="span3">
        <div class="footer-widget">
          <h2 class="brand widget-title">Noms</h2>
          <p class="footer-tag-line">FIND NOMS: ANYTIME & ANYWHERE</p>
          <p>Noms is a ruby on rails project that is based on the website Yelp.
            The purpose is to help users find and review their local restaurants.</p>
        </div>
        <!-- .footer-company-info -->
      </div>
      <!-- .span3 -->
      <div class="span3">
        <div class="footer-widget">
          <h3 class="widget-title">Information</h3>
          <div class="clearfix">
            <ul>
              <li class="clearfix">
                <i class="icon-map-marker pull-left"></i>
                <p class="pull-left">2018 NomsForDays Ave
                  <br />Berkeley, CA 94704</p></li>
              <li class="clearfix">
                <i class="icon-phone pull-left"></i>
                <p class="pull-left">+1 (123) 456 7890</p></li>
              <li class="clearfix">
                <i class="icon-envelope-alt pull-left"></i>
                <p class="pull-left"><a href="#">support@noms.com</a></p>
              </li>
            </ul>
          </div>
          <!-- .clearfix -->
        </div>
        <!-- .footer-widget -->
      </div>
      <!-- .span3 -->
      <div class="span3">
        <div class="footer-widget">
          <h3 class="widget-title">Company</h3>
          <ul>
            <li>
              <i class="icon-caret-right"></i>
              <%= link_to "Home", root_path %></li>
            <li>
              <i class="icon-caret-right"></i>
              <%= link_to "About Us", about_us_path %></li>
            <li>
              <i class="icon-caret-right"></i>
              <%= link_to "Contact Us", contact_us_path %></li>
          </ul>
        </div>
        <!-- .footer-widget -->
      </div>
      <!-- .span3 -->
      <div class="span3">
        <div class="footer-widget">
          <h3 class="widget-title">Social Media</h3>
          <ul>
            <li>
              <i class="icon-caret-right"></i>
              <a title="Facebook" href="https://www.facebook.com/wilsonw926">Facebook</a></li>
            <li>
              <i class="icon-caret-right"></i>
              <a title="Github" href="https://github.com/wilsonw926">Github</a></li>
            <li>
              <i class="icon-caret-right"></i>
              <a title="LinkedIn" href="https://www.linkedin.com/in/wilsonw926/">LinkedIn</a></li>
            <li>
              <i class="icon-caret-right"></i>
              <a title="Instagram" href="https://www.instagram.com/wilsonw926/">Instagram</a></li>
          </ul>
        </div>
        <!-- .footer-widget -->
      </div>
      <!-- .span3 -->
    </div>
  </div>
</footer>
 
<!-- end footer -->