<!-- begin header -->
<header>
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="index.html"><i class="icon-home"></i></a></li>
            <li><a href="contact.html" title="About us">About us</a></li>
            <li><a href="contact.html" title="Contact us">Contact us</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div id="logo-container">
    <div class="container">
      <div class="row">
        <div class="span8">
          <a class="brand" href="index.html"><span class="logo-text">Noms</span></a>
          <span class="tag-line hidden-phone">Find Noms: Anytime & Anywhere</span>
        </div>
        <div class="span4">
          <div class="phone-number pull-right"><i class="icon-phone"></i> Call Us: <strong>1 (800) 123 4567</strong></div><!--/phone-number-->
        </div>
      </div>
    </div>
  </div>
  <!-- #logo-container -->
</header>  
<!-- end header -->